
 <!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button routerLink="/foods/tabs/account/new">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-label>Entdecken</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-label>Account</ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

